h1 { color: brown;

}

.a {
    color: chocolate;
}

#summer {
    background-color: darkgreen;
}

#winter {
    background-color: blue;
}

.apples {
    color: darkred;
}

.bananas {
    color: darkmagenta;
}