body {
    background-color: #fefae0;
    color: #333;
}
header {
    background-color: #d4a373;
    color: white;
}

table {
    width: 500px;;
}
table th {
    background-color: #d4a373;
    color: white;
}

img {
    width: 500px;
}
