*{
    box-sizing:border-box;
}
.wrapper{

}
.wrapper-categories{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.wrapper-container{
    margin-top: 100px;
    display: grid;
    grid-template-columns: 500px 500px;
    padding-left: 200px;
    width:1000px;
    height:1000px;
}
.container{
    border:1px solid whitesmoke;
    border-radius: 3px;
    width: 500px;
    height: 550px;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    padding: 15px;
}
.container .images{
    width:100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding:15px;
}
.container .images img{
    width:150px;
    height:200px;
    background-color: white;
    border:0.4px solid whitesmoke;
    position: relative;
}
.container .images button{
    margin-top: 30px;
    height: 40px;
    border-radius: 5px;
    width:100px;
    background-color: white;
    color:blue;
    font-size: 20px;
}
.container h3{
    font-size: 20px;
}
.rating{
    display: flex;
    flex-direction: row;
}
.rating img{
    width: 15px;
    height: 15px;
    background-color: white;
    margin-top:10px ;
}
.rating h4{
    margin-left: 5px;
    margin-top:10px;
}
.container button {
    position: relative;
    width: 15%;
    border-radius: 10px;
}